; [submodule "statistical-methods-for-machine-learning/lecture/statistical-methods-for-machine-learning/lecture/MSA"]
; 	path = statistical-methods-for-machine-learning/lecture/statistical-methods-for-machine-learning/lecture/MSA
; 	url = git@github.com:nicolo63/MSA.git

; [submodule "statistical-methods-for-machine-learning/lecture/MSA"]
; 	path = statistical-methods-for-machine-learning/lecture/MSA
; 	url = git@github.com:nicolo63/MSA.git
