CompileFlags: 
  Add:
    - -I/usr/include
    - -L/usr/lib
    - -I/usr/include/x86_64-linux-gnu
    - -L/usr/lib/x86_64-linux-gnu
    
    - -I./Core/Inc/
    - -I./Drivers/STM32L0xx_HAL_Driver/Inc/
    - -I./Core/Src/
    - -I./Drivers/STM32L0xx_HAL_Driver/Src/
    - -I./Drivers/CMSIS/Include/
    - -I./Drivers/CMSIS/Device/ST/STM32L0xx/Include/
    - -I./Drivers/CMSIS/Device/ST/STM32L0xx/Source/
    - -working-directory=/home/federicobruzzoneplasma/STM32CubeIDE/workspace_1.11.2/hello_led

